.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;

    border-bottom: 3px solid black;

    .headerTitle {
        font-size: 2rem;
    }

    .headerBtns {

        display: flex;
        align-items: center;
        gap: 1rem;

        .headerUpload {
            text-decoration: none;
            color: black;
            border: 3px solid black;
            border-radius: 10px;
            font-size: 1.5rem;
            padding: 1rem;
            transition: .2s;
        }

        .headerUpload:hover {
            transition: .2s;
            background-color: black;
            color: white;
        }

    }
}